/* RadioTimer, Copyright 2016 François Revol */
body {}

header {
	position: fixed;
	top: 1em;
	right: 1em;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0em;
	left: 0em;
	padding: 0.5em;
	background-color: LightSlateGrey;
	/*opacity: .70;*/
}
footer:hover {
	/*opacity: 1.0;*/
}

form { display:inline }

#live_timer {
	display:inline;
	float: right;
	/*position: absolute;*/
	/*background: initial;*/
	/*font-family: "Nimbus Mono L", "Liberation Mono", "Bitstream Vera Sans Mono", "Courier 10 Pitch", "DejaVu Sans Mono", "FreeMono", Courier, Monospace;*/
	background: LightSlateGrey;
	right: 30px;
	padding:10px;
	/*top: 5px;*/
	opacity: .75;
}
#live_timer #main {
	font-size:3em;
	clear: right;
}
#live_timer #item {
	font-size:1.5em;
	text-align: center;
}
#live_timer.late {
	background: darkred;
}
#live_timer:hover {
	opacity: .30;
}
#live_timer #main #remaining {
	display: none;
}

#progress_h1_h2 {
	width: 100%;
	white-space: nowrap;
}
#progress_h1,
#progress_h2 {
	position:relative;
	min-width: 25%;
	max-width: 45%;
	vertical-align: bottom;
	border: 1px solid DarkSlateGray;
	padding: 3px;
	display: inline-block;
}
#progress_h2 {
	background-color: goldenrod;
	background-color: rgba(218, 165, 32, 128);
}
#progress_h1 {
	background-color: orangered;
	background-color: rgba(255, 69, 0, 128);
}
#current_h1,
#current_h2 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width:100%;
	position:absolute;
	left: 0%;
	padding-left: 3px;
}
/*#progress_h2>*/
#bar {
	width:0%;
	height:20px;
	background-color:green;
	display: block;
	/* setting opacity seems to change the z-order */
	/*opacity: .70;*/
}
.current {
	background-color: goldenrod;
	background-color: rgba(218, 165, 32, 128);
}

h1.current {
	background-color: orangered;
	background-color: rgba(255, 69, 0, 128);
}
#contents h1,
#contents h2 {
	clear: both;
}
h1 span.right-align,
h2 span.right-align {
	float: right;
}

/* default: hide translations */
.fr {
	display: none;
}

@media print {
	header, footer, #top {
		display: none;
	}
	#contents * {
		page-break-before: avoid;
		page-break-after: avoid;
	}
	#contents h1 {
		page-break-before: always;
		page-break-after: avoid;
	}
	#contents h1:first-of-type {
		page-break-before: avoid;
		page-break-after: avoid;
	}
}
